<template>
<div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Create Category</h3>
                            <div class="card-tools">
                                <router-link :to="{name: 'category-list'}" class="btn btn-success text-white mr-3">Category List</router-link>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form id="quickForm" @submit.prevent="categoryCreate">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="name">Category Name</label>
                                    <input type="text" name="name" id="name" v-model="categoryCreateForm.name" :class="{ 'is-invalid': categoryCreateForm.errors.has('name') }" class="form-control" placeholder="Enter Category Name">
                                    <has-error :form="categoryCreateForm" field="name"></has-error>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-6">

                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
</div>
</template>

<script>
import Form from 'vform'
export default {

    data(){
        return {
            categoryCreateForm: new Form({
                name: '',
            })
        }
    },
    methods: {
        categoryCreate(){
            this.categoryCreateForm.post('/api/category')
                .then(({ data }) => {
                    this.categoryCreateForm.name = '';
                    Toast.fire({
                        icon: 'success',
                        title: 'Category Added Successfully'
                    })
                    this.$router.push({name: 'category-list'})
                })
                .catch(error => {
                    console.log(error)
                })
        }
    }
}
</script>

<style scoped>

</style>
