<template>
    <div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Category List</h3>
                                <div class="card-tools">
                                    <router-link :to="{name: 'category-create'}" class="text-white btn btn-success mr-3">Create Category</router-link>
                                </div>
                            </div>

                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th width="20%">
                                            <select class="custom-select" v-model="selected" @change="deleteSelectCategory">
                                                <option value="">Select</option>
                                                <option value="">Delete Selected</option>
                                            </select>
                                            <input value="" type="checkbox" @click.prevent="selectAllCategory" v-model="selectAll" > Select All
                                        </th>
                                        <th width="10%">Serial</th>
                                        <th width="25%">Name</th>
                                        <th width="25%">Slug</th>
                                        <th width="20%">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(category,index) in getAllCategories" :key="category.id">
                                        <td>
                                            <input type="checkbox" :value="category.id" v-model="allCategoryId" class="custom-checkbox">
                                        </td>
                                        <td>{{ index+1 }}</td>
                                        <td>{{ category.name }}</td>
                                        <td>{{ category.slug }}</td>
                                        <td class="text-white">
                                            <router-link :to="{name: 'category-edit', params: {slug: category.slug}}" class = "btn btn-info">Edit</router-link>
                                            <a @click="deleteCategory(category)" class = "btn btn-danger">Delete</a>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
    </div>
</template>

<script>
export default {
    name: "index.vue",
    data(){
        return {
            allCategoryId: [],
            selected: '',
            selectAll: false
        }
    },
    methods: {
        deleteCategory(category){
            axios.delete(`api/category/${category.id}`)
                 .then(() => {
                     this.$store.dispatch("allCategory");
                     Toast.fire({
                         icon: 'success',
                         title: 'Category Deleted Successfully'
                     })
                 })
                 .catch(error => {
                     Toast.fire({
                         icon: 'error',
                         title: error.message
                     })
                 })
        },
        deleteSelectCategory(){
            axios.delete(`/api/categories/select/${this.allCategoryId}`)
                 .then(() => {
                     this.$store.dispatch("allCategory");
                     this.allCategoryId = []
                     Toast.fire({
                         icon: 'success',
                         title: 'Category Deleted Successfully'
                     })
                 })
        },
        selectAllCategory(){
            if(this.selectAll === false){
                this.selectAll = true;
                for (let category in this.getAllCategories){
                    this.allCategoryId.push(this.getAllCategories[category].id)
                }
            }else {
                this.selectAll = false;
                this.allCategoryId = []
            }
        }
    },
    mounted() {
        this.$store.dispatch("allCategory")
    },
    computed: {
        getAllCategories(){
            return this.$store.getters.getCategories;
        }
    }

}
</script>

<style scoped>

</style>
