<template>
<span>
        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <article v-for="post in categoryPosts" :key="post.id">
                            <div class="row">
                                <div class="span8">
                                    <div class="post-image">
                                        <div class="post-heading">
                                            <h3><router-link :to="{name: 'frontend-post',params: {id: post.id}}">{{ post.title }}</router-link></h3>
                                        </div>
                                        <img :src="`../../images/backend/post/${post.image}`" alt="" width="auto" height="400px" />
                                    </div>
                                    <p> {{ post.body | postBodyShorter(250, '...') }} </p>
                                    <div class="bottom-article">
                                        <ul class="meta-post">
                                            <li><i class="icon-calendar"></i><a href="#"> {{ post.created_at | timeFormat() }}</a></li>
                                            <li><i class="icon-user"></i><a href="#"> </a></li>
                                            <li><i class="icon-folder-open"></i><a href="#"> </a></li>
                                            <li><i class="icon-comments"></i><a href="#">4 Comments</a></li>
                                        </ul>
                                        <router-link :to="{name: 'frontend-post',params: {id: post.id}}" class="pull-right">Continue reading <i
                                            class="icon-angle-right"></i></router-link>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <div id="pagination">
                            <span class="all">Page 1 of 3</span>
                            <span class="current">1</span>
                            <a href="#" class="inactive">2</a>
                            <a href="#" class="inactive">3</a>
                        </div>
                    </div>
                    <sidebar></sidebar>
                </div>
            </div>
        </section>
    </span>
</template>
<script>
import sidebar from './sideBar';
export default {
    data(){
        return {

        }
    },
    methods: {
        loadPosts(){
            let id = this.$route.params.id;
            this.$store.dispatch('getAllCategoryPosts',id)
        }
    },
    computed:{
        categoryPosts(){
            return this.$store.getters.getAllCategoryPosts
        }
    },
    mounted() {
        this.loadPosts();
    },
    watch:{
       $route(to, from){
           this.loadPosts()
       }
    },

    components: {
        sidebar
    }
}
</script>
