<template>
    <span>
        <div class="span4">
            <aside class="right-sidebar">
                <div class="widget">
                    <form class="form-search">
                        <input @keyup="searchPost" placeholder="Type something" v-model="keyWord" type="text" class="input-medium search-query">
                        <button type="submit" @click.prevent="searchPost" class="btn btn-square btn-theme">Search</button>
                    </form>
                </div>
                <div class="widget">
                    <h5 class="widgetheading">Categories</h5>
                    <ul class="cat">
                        <li v-for="(category, index) in Categories" :key="category.id">
                            <i class="icon-angle-right"></i><router-link :to="{name: 'frontend-category-post', params:{id:category.id }}">{{ category.name }}</router-link><span> ({{  }})</span>
                        </li>
                    </ul>
                </div>
                <div class="widget">
                    <h5 class="widgetheading">Latest posts</h5>
                    <ul class="recent">
                        <li v-for="(post, index) in getAllPublicPosts" v-if="index< 5" :key="post.id">
                            <img :src="`../images/backend/post/${post.image}`" class="pull-left" alt="" height="65px" width="65px"/>
                            <h6><router-link :to="{name: 'frontend-post',params: {id: post.id}}">{{ post.title | postBodyShorter(30, '...')}}</router-link></h6>
                            <p>
                               {{ post.body | postBodyShorter(80, '...')}}
                            </p>
                        </li>

                    </ul>
                </div>
                <div class="widget">
                    <h5 class="widgetheading">Popular tags</h5>
                    <ul class="tags">
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Trends</a></li>
                        <li><a href="#">Technology</a></li>
                        <li><a href="#">Internet</a></li>
                        <li><a href="#">Tutorial</a></li>
                        <li><a href="#">Development</a></li>
                    </ul>
                </div>
            </aside>
        </div>
    </span>
</template>

<script>
import _ from 'lodash';
export default {
    data(){
        return {
            keyWord: ''
        }
    },
    computed:{
        Categories(){
            return this.$store.getters.getPublicCategories
        },
        getAllPublicPosts(){
            return this.$store.getters.getAllPublicPosts
        }
    },
    mounted() {
        this.$store.dispatch('getAllPublicPosts');
        this.$store.dispatch('getPublicCategories');
    },
    methods:{
        searchPost:_.debounce(function (){
            this.$store.dispatch('searchPost',this.keyWord)
        },1000)
    }
}
</script>
