<template>
    <span>
        <section id="content">
          <div class="container">
            <div class="row">
              <div class="span8">
                <article>

                  <div class="row">
                    <div class="span8">
                      <div class="post-image">
                        <div class="post-heading">
                          <h3><a href="#">{{getSinglePost.title}} </a></h3>
                        </div>
                        <img :src="`../images/backend/post/${getSinglePost.image}`" alt="" />
                      </div>
                      <p>
                        {{ getSinglePost.body }}
                      </p>
                      <div class="bottom-article">
                        <ul class="meta-post">
                          <li><i class="icon-user"></i><a href="#"> {{ getSinglePost.user.name }}</a></li>
                          <li><i class="icon-folder-open"></i><a href="#"> Blog</a></li>
                          <li><i class="icon-tags"></i><a href="#">{{ getSinglePost.category.name }}</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
              <div class="span4">
                  <sidebar></sidebar>
              </div>
          </div>
          </div>
        </section>
    </span>
</template>
<script>
    import sidebar from './sideBar';
    export default {
        data(){
            return {
                name:''
            }
        },
        methods:{
          loadPost(){
              let id = this.$route.params.id;
              this.$store.dispatch('getSinglePost', id);
            }
        },
        components:{
            sidebar
        },
        computed: {
            getSinglePost(){
                return this.$store.getters.getSinglePost;
            }
        },
        mounted() {
            this.loadPost()
        },
        watch: {
            $route(to, from){
                this.loadPost()
            }
        }
    }
</script>
