<template>
    <div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- jquery validation -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Create Category</h3>
                                <div class="card-tools">
                                    <router-link :to="{name: 'post-list'}" class="btn btn-success text-white mr-3">Category List</router-link>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form id="quickForm" @submit.prevent="createPost">
                                <div class="card-body">
<!--                                    <input type="hidden" :value="this.$userId">-->
                                    <div class="form-group row">
                                        <label for="title" class="col-md-2">Post title</label>
                                        <input type="text" name="title" id="title" v-model="postCreateForm.title" :class="{ 'is-invalid': postCreateForm.errors.has('title') }" class="form-control col-md-8" placeholder="Enter Post Title">
                                        <has-error :form="postCreateForm" field="name"></has-error>
                                    </div>
                                    <div class="form-group row">
                                        <label for="body" class="col-md-2">Post Body</label>
                                        <markdown-editor name="body" id="body" v-model="postCreateForm.body"  class="col-md-8" :class="{ 'is-invalid': postCreateForm.errors.has('body') }"></markdown-editor>
                                        <has-error :form="postCreateForm" field="body"></has-error>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2">Post Category</label>
                                        <select class="custom-select col-md-8" v-model="postCreateForm.category_id" name="category_id" :class="{ 'is-invalid': postCreateForm.errors.has('body') }">
                                            <option value="" disabled>Choice One --- </option>

                                            <option v-for="category in allCategory" :value="category.id">{{ category.name }}</option>

                                        </select>
                                        <has-error :form="postCreateForm" field="category_id"></has-error>
                                    </div>
                                    <div class="form-group row" v-if="postCreateForm.image">
                                        <label class="col-md-2">Selected Image</label>
                                        <img :src="postCreateForm.image" height="300px" >
                                    </div>
                                    <div class="form-group row">
                                        <label for="image" class="col-md-2">File input</label>
                                        <div class="input-group col-md-8 p-0">
                                            <div class="custom-file">
                                                <input type="file" name="image" id="image" @change="selectImage($event)" :class="{ 'is-invalid': postCreateForm.errors.has('image') }" class="custom-file-input form-control col-md-12" >
                                                <label class="custom-file-label" for="image">Choose file</label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text">Upload</span>
                                            </div>
                                        </div>
                                        <has-error :form="postCreateForm" field="image"></has-error>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.card -->
                    </div>
                    <!--/.col (left) -->
                    <!-- right column -->
                    <div class="col-md-6">

                    </div>
                    <!--/.col (right) -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
    </div>
</template>

<script>
import Form from "vform";
const userId = document.querySelector("meta[name='user-id']");
export default {
name: "create",
    data(){
        return {
            postCreateForm: new Form({
                title: '',
                body: '',
                image: '',
                category_id: '',
                user_id: userId.content
            })
        }
    },
    methods: {
        selectImage(event){
            let file = event.target.files[0];
            let reader = new FileReader();
            reader.onload = event => {
                this.postCreateForm.image = event.target.result
            };
            reader.readAsDataURL(file);
        },
        createPost(){
            this.postCreateForm.post('/api/post')
                .then(({data}) => {
                    Toast.fire({
                        icon: 'success',
                        title: 'Post Added Successfully'
                    })
                    this.$router.push({name: 'post-list'})
                })
                .catch(error => {
                    console.log(error)
                })
        }
    },
    computed:{
        allCategory(){
            return this.$store.getters.getCategories;
        }
    },
    mounted() {
        this.$store.dispatch("allCategory");
        // this.$userId;
    }
}
</script>

<style scoped>

</style>
