<template>
    <div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- jquery validation -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Update Post</h3>
                                <div class="card-tools">
                                    <router-link :to="{name: 'post-list'}" class="btn btn-success text-white mr-3">Category List</router-link>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form id="quickForm" @submit.prevent="updatePost">
                                <div class="card-body">
                                    <!--                                    <input type="hidden" :value="this.$userId">-->
                                    <div class="form-group row">
                                        <label for="title" class="col-md-2">Post title</label>
                                        <input type="text" name="title" id="title" v-model="postUpdateForm.title" :class="{ 'is-invalid': postUpdateForm.errors.has('title') }" class="form-control col-md-8" placeholder="Enter Post Title">
                                        <has-error :form="postUpdateForm" field="name"></has-error>
                                    </div>
                                    <div class="form-group row">
                                        <label for="body" class="col-md-2">Post Body</label>
                                        <markdown-editor name="body" id="body" v-model="postUpdateForm.body"  class="col-md-8" :class="{ 'is-invalid': postUpdateForm.errors.has('body') }"></markdown-editor>
                                        <has-error :form="postUpdateForm" field="body"></has-error>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2">Post Category</label>
                                        <select class="custom-select col-md-8" v-model="postUpdateForm.category_id" name="category_id" :class="{ 'is-invalid': postUpdateForm.errors.has('body') }">
                                            <option value="" disabled>Choice One --- </option>

                                            <option v-for="category in allCategory" :key="category.id" :value="category.id">{{ category.name }}</option>

                                        </select>
                                        <has-error :form="postUpdateForm" field="category_id"></has-error>
                                    </div>
                                    <div class="form-group row my-5" >
                                        <label class="col-md-2">Selected Image</label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5>Old Image</h5>
                                                <img :src="oldImage(oldPhoto)" height="170px" width="320px">
                                            </div>
                                            <div class="col-md-6" v-if="postUpdateForm.image">
                                                <h5>New Image</h5>
                                                <img :src="postUpdateForm.image" height="170px" width="320px">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="image" class="col-md-2">Select New Image</label>
                                        <div class="input-group col-md-8 p-0">
                                            <div class="custom-file">
                                                <input type="file" name="image" id="image" @change="selectImage($event)" :class="{ 'is-invalid': postUpdateForm.errors.has('image') }" class="custom-file-input form-control col-md-12" >
                                                <label class="custom-file-label" for="image">Choose file</label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text">Upload</span>
                                            </div>
                                        </div>
                                        <has-error :form="postUpdateForm" field="image"></has-error>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.card -->
                    </div>
                    <!--/.col (left) -->
                    <!-- right column -->
                    <div class="col-md-6">

                    </div>
                    <!--/.col (right) -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
    </div>
</template>

<script>
import Form from "vform";
const userId = document.querySelector("meta[name='user-id']");
export default {
name: "edit",
    data(){
        return {
            postUpdateForm: new Form({
                title: '',
                body: '',
                image: '',
                category_id: '',
                user_id: userId.content
            }),
            oldPhoto: ''
        }
    },
    methods: {
        selectImage(event){
            let file = event.target.files[0];
            let reader = new FileReader();
            reader.onload = event => {
                this.postUpdateForm.image = event.target.result
            };
            reader.readAsDataURL(file);
        },
        updatePost(){
            let id = this.$route.params.id;
            this.postUpdateForm.put(`/api/post/${id}`)
                .then(({data}) => {
                    Toast.fire({
                        icon: 'success',
                        title: 'Post Updated Successfully'
                    })
                    this.$router.push({name: 'post-list'})
                })
                .catch(error => {
                    console.log(error)
                })
        },
        oldImage(img){
            return '../images/backend/post/'+img;
        }
    },
    created() {
        let id = this.$route.params.id;
        axios.get(`/api/post/${id}/edit`)
             .then((response) => {
                 this.postUpdateForm.title = response.data.post.title;
                 this.postUpdateForm.body = response.data.post.body;
                 this.postUpdateForm.category_id = response.data.post.category_id;
                 this.oldPhoto = response.data.post.image;
             })
    },
    computed: {
        allCategory(){
            return this.$store.getters.getCategories
        }
    },
    mounted() {
        this.$store.dispatch("allCategory");
    }
}
</script>

<style scoped>

</style>
