<template>
    <div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Post List</h3>
                                <div class="card-tools">
                                    <router-link :to="{name: 'post-create'}" class="text-white btn btn-success mr-3">Create Post</router-link>
                                </div>
                            </div>

                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th width="5%">No.</th>
                                        <th width="10%">Post By</th>
                                        <th width="10%">Category</th>
                                        <th width="15%">Title</th>
                                        <th width="25%">Body</th>
                                        <th width="20%">Image</th>
                                        <th width="15%">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(post, index) in allPosts" :key="post.id">
                                        <td>{{ index+1 }}</td>
                                        <td v-if="post.user">{{ post.user.name }} </td>
                                        <td v-else >Admin</td>
                                        <td v-if="post.category">{{ post.category.name }}</td>
                                        <td>{{ post.title }}</td>
                                        <td>{{ post.body| postBodyShorter(50,'...') }}</td>
                                        <td>
                                            <img :src="postImage(post.image)" alt="" width="180px" height="100px">
                                        </td>
                                        <td class="text-white">
                                            <router-link :to="{name: 'post-edit', params: {id: post.id}}" class = "btn btn-info btn-sm">Edit</router-link>
                                            <a class ="btn btn-danger btn-sm" @click="deletePost(post.id)">Delete</a>
                                        </td>
                                    </tr>

                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>No.</th>
                                        <th>Post By</th>
                                        <th>Category</th>
                                        <th>Title</th>
                                        <th>Body</th>
                                        <th>Image</th>
                                        <th>Action</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
    </div>
</template>

<script>
export default {
    name: "index",
    data(){
        return {

        }
    },
    methods: {
        postImage(img){
            return 'images/backend/post/'+img;
        },
        deletePost(id){
            // let id = this.$route.params.id;
            axios.delete(`/api/post/${id}`)
                 .then(() => {
                     this.$store.dispatch('getAllPosts');
                     Toast.fire({
                        icon: 'success',
                        title: 'Post Added Successfully'
                    })
                 })
                 .catch(error => {
                     console.log(error);
                 })
        }
    },
    computed: {
        allPosts(){
            return this.$store.getters.getAllPosts
        }
    },
    mounted() {
        this.$store.dispatch('getAllPosts')
    }
}
</script>

<style scoped>

</style>
